
        html {
            font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
            font-family: Verdana;
        }
        .cabecera{
            position: relative;
            left: 100px;
          }
        .cabecera1{
            position: absolute;
            left: 1000px;
            top: 10px;
          }
		.social{
			/*las imágenes usadas tienen width de 48px*/
      display: flex;
			width:48px;
			position:fixed;
			bottom:5px;
			right: 70px;;
		}
    .social img:first-child {
      margin-right: 10px;
    }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a, .dropbtn {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover, .dropdown:hover .dropbtn {
          background-color: green;
        }
        
        li.dropdown {
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #108344;
          width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1;}
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
      
 
    